.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eaebf3;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 4px;
}

.brand {
    flex-grow: 1;
    font-size: 20px;
    color: #080e27;
}

.left_menu {
    gap: 1rem;
    color: #909296;
    font-size: 15px;
}