.container {
    background: #f0f0f0;
    color: #000;
    padding: 1rem;
}

.container>ul {
    list-style: none;
}

.container>ul>li:not(:first-child) {
    margin-top: 0.5rem;
}

.container>ul>li>a:hover {
    color: #2a417e;
    transition: all 0.3s;
    text-decoration: underline;
}

.post_detail_container {
    background: #eeeeee;
    border: 1px solid rgb(173, 183, 212);
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    width: 50%;
    cursor: pointer;
}

.post_detail_container>h3 {
    position: relative;
    padding-bottom: 0.5rem;

}

.post_detail_container>h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 2px;
    background: #405692;
    transition: all 0.4s linear;
}

.post_detail_container:hover>h3::after {
    width: 100%;
    display: block;
}

.view_comment {
    padding: 0.5rem;
    border: 1px solid #e1e1e1e1;
    transition: all 0.3s;
    cursor: pointer;
}

.view_comment:hover {
    background: #d3d3d3e1;
}